<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Devices</h2>
    </div>
    <!-- /.header row -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <h4>DataTables Usage Information</h4>

            <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized
                version
                of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome
                icons in
                place of images. For complete documentation on DataTables, visit their website at <a target="_blank"
                                                                                                     href="https://datatables.net/">https://datatables.net/</a>.
            </p>
            <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables
                Documentation</a>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->